:root {
    --primary-accent: #4fbfa8;
    --navbar-border-top: #2d7b6b;
    --button-border: #389985;
    --link-focus: #348e7b;
    --form-shadow: rgba(79, 191, 168, 0.6);
    --pagination-bg: #bfe8df;
    --link-hover-bg: #3aa18c;
    --navbar-focus: #9adacd;
    --background-1: #b1f9d3;
    --background-2: #c3ffba;
    --background-3: #ebffb4;
    --background-4: #c6fdc3;
    --background-5: #a9ffdf;
    

    --c-1: #BEF621;
  --c-2: #241E17;
  --c-3: #007A73;
  --c-4: #39F46A;
  --c-5: #E4FF44;
  --c-6: #DEEAE9;
  --c-7: #FFFFFF;
  --text-1: #18262d;
  --text-2: #007a73;

  }



.page-container {
   position: relative;
   min-height: 100vh; /*calc(100vh-80px);*/
}


/**
BLOG
*/
.card-footer {
    border-top: transparent;
}

